/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    line-height: 1;
}
ol, ul ,li {
    list-style: none;
}
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

iframe {
    display: block;
}

body {
    font: 12px/1.5 Verdana, Arial,sans-serif;
}

a:focus {
    outline: 1px dotted;
}


h1 {
    font-size: 12px;
    font-weight:400;
}


ol {
    list-style: decimal;
}

/* coding style */
pre,
code,
kbd,
samp,
tt {
    font-family:monospace;
    line-height:100%;
}



/***reset finish***/

body{
    background:#808080;
    color:#808080;
    padding:50px 0;
}

a{
    color:#808080;
    text-decoration:none;
    border-bottom:1px #808080 dotted;
}

h3{
    font-weight:700;
}

#wrapper{
    width:550px;
    background:#fff;
    margin:0 auto;
    padding:32px 25px 10px;
}

#main{
    padding:30px 0 10px;
}

.section{
    padding-bottom:20px;
}

.section .content{
    padding:5px 0;
}

.section .link-seperate a{
    margin:0 3px 0 0;
}

.section .more{
    font-size:10px;
    margin-top:5px;
}

#photos a{
    border:0;
}

#photos ul{
    overflow:hidden;
    zoom:1;
}

#photos li{
    float:left;
    margin:0 7px 5px 0;
}


#footer{
    text-align:center;
}